<!DOCTYPE html>
<html>
    <head>
            <title>About</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel='icon href=''http://files.mead.io/1079631c29ea'>
            <link rel='stylesheet' href='./css/styles.css'>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p> Anshul Bhatia </p>
            <img class="portrait" src='/img/610757.jpg'>
        </div>
        <div></div>
            <a href="https://www.linkedin.com/in/anshul-bhatia-3b626014a" class="badge badge-primary" id="abc">LinkedIn Profile</a>
            <br>
            <a href="https://www.instagram.com/mr_anshulbhatia?r=nametag" class="badge badge-danger" id="abc">Instagram profile</a>

        </div>
        
        {{>footer}}
    </body>
</html>
