<!DOCTYPE html>
<html>
    <head>
            <title>Weather</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="icon" href="http://files.mead.io/1079631c29ea">
            <link rel='stylesheet' href='./css/styles.css'>
                
    </head>
    <body>
        <div class="main-content">
            {{>header}}

            <p>Use this site to get your weather</p>

            <form>
                <input type="text" placeholder="Location">
                <button>Search</button>
            </form>

            <p id="message-1">
            </p>
            <p id="message-2"></p>
        </div>
        
        {{>footer}}
        <script src='/js/app.js'></script>
    </body>
    
</html>
